* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    height: 100vh;                       /* altura viewport */
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #D5D5D5;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image {
    margin: auto;
}
.image img{
    padding-left: 100px;
    width: auto;           /*aprox 15em*/
}

.container h1{
    font-style: italic;
    color: #023E8A;
}


.container .input-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 9px 0 9px 0;
    
}

.input-text input {
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 12px;
    border: 1px solid rgba(170, 168, 168, 1);
    padding-left: 15px;
    border-bottom-width: 2px;
}
input:active{
    border-color: #ffa602;
}
.subir-imagen{
   border:1px #023E8A;
}
form .button {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

form .button input {
    padding: 10px 30px;
    color: rgba(11, 19, 96, 1); 
    font-weight: 900;
    background: #219EBC;
    border: px solid rgba(170, 168, 168, 1);
    border-radius: 10px;
}
label[for="files"]{
    background-color: #219EBC;
}



@media (max-width: 425px) {
    .title {
      font-size: 27px;
    }
    span{
      font-size: 0.6em;
      display: block;
    }
  
    input[type="text"],
    input[type="file"],
    input[type="number"],
    input[type="submit"] {
      width: 150px;
      font-size: 15px;
    }
    img {
      width: 3em;
      padding-right: 5em;
    }
    .image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-text{
        display: flex;
        align-items: center;
    }
  }