body{
    
    background-color: #d5d5d5;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif, Arial;
}
.contact-container{
    margin: 180px auto 50px auto;
}
.caja-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 70px;
    margin: 10px 300px;
    border-radius: 20px;
    background-color:#e2e2e2;
    border: 1px solid #c5c5c5;

}
h1{
   
    text-transform:uppercase;     
    font-style:oblique;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color:#0b1360;   
    word-spacing: 10px;
    

}
form.form-contact{
    padding-top:30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* background-color: chartreuse; */
}
.contact-label{
    display: flex;
    align-self: flex-start;
    padding-left: 30px;
    font-size: 20px;
    color: #414141;

}

.contact-input{
    font-size: 15px;
    display: flex;
    border-radius: 20px;
    font-size:large;
    outline: none;
    border:1px solid #c8c8c8;
    border-bottom-width: 2px;
    padding: 10px;
    width: 90%;

}
input:active{
    border-color: #ffa602;
}
textarea{
    display: flex;
    border-radius: 20px;
    font-size:large;
        outline: none;
        border:1px solid #c8c8c8;
        border-bottom-width: 2px;

}
textarea:active{
    border-color: #ffa602;
}
.btn-contact{
    display: flex;
    color: #0b1360;
    background-color: #209dbc;
    font-weight: bold;
    padding: 20px 50px;
    border-color: #419ba2;
    align-self: center;
    transition: 0.2s;


    font-size: 15px;
    display: flex;
    border-radius: 20px;
    font-size:large;
    outline: none;
    border:1px solid #c8c8c8;
    border-bottom-width: 2px;
}
.btn-contact:hover{
    background-color: #58b6cd;

}
.btn-contact:active{
    background-color: #0077b6;
}
.casilla-textarea{
    display: flex;
    width: 90%;
}

#mensaje{
    display: flex;
    padding: 100px 0px;
   
}

/*-------Diseño Responsive Contact us-----*/

@media (max-width: 1283px) {
 
    .contact-container{
        margin: 100px 50px;
        max-width: 100%;
 
    }

    .main-contact {
      font-size: 35px;
    }
  
    .contact-input[type="text"],
    .contact-input[type="email"],
    textarea[type="text"]{
      font-size: 15px;

    }

    .caja-main{

        padding:40px 50px;
        margin: 0px;
    }
    .contact-label{
        padding-left: 50px;
        font-size: 20px;
    }
    .btn-contact{
        padding: 20px 40px;
    }

  }

@media (max-width: 768px) {
  
    .main-contact {
      font-size: 30px;
    }
  
    .contact-input[type="text"],
    .contact-input[type="email"],
    textarea[type="text"]{
      font-size: 15px;
    }

    .caja-main{
        padding:20px 40px;
        margin: 0px;
    }
    .contact-label{
        padding-left: 30px;
        font-size: 20px;
    }
    .btn-contact{
        padding: 15px 40px;
    }

  }

@media (max-width: 425px) {

    .main-contact {
      font-size: 20px;
    }
  
    .contact-input[type="text"],
    .contact-input[type="email"],
    textarea[type="text"]{
      font-size: 10px;
    }

    .caja-main{
        padding:20px 30px;
        margin: 0px;
    }
    .contact-label{
        padding-left: 10px;
        font-size: 15px;
    }
    .btn-contact{
        padding: 10px 30px;
        border-radius: 15px;
    }

  }