:root{
  --tamano-texto:16px;
  --tam-titulos:30px;
}


body {
  margin: 100px;
  background-color: #ebebeb;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

p,
a {
  display: flex;
  justify-content: center;
}

form.form-log {
  padding: 50px 0px 0px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  border: 1px #c8c8c8 solid;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-bottom-width: 2px;
}

input.btn {
  padding: 10px 30px;
  border-radius: 10px;
  color: #0b1360;
  font-weight: bold;
  background-color: #219ebc;
  border-color: #418ba2;
}

.title {
  color: #0078b8;
  margin: 0px;
  font-size: 50px;
  font-style: italic;
  font-weight: bolder;
  transition: 0.4s;
}

img {
  margin: auto;
  display: block;
  width: 5em;
  transition: 0.4s;
}

.btn:hover {
  background-color: #58b6cd;
  transition: 0.2s;
}
.btn:active {
  background-color: #0077b6;
}

input:active{
  border-color: #ffa602;

}
.form-log-end {
  display: flex;
  align-items: center;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: #ffa602;
}


@media (max-width: 483px) {
  .title {
    font-size: 27px;
  }
  .recovery p {
    font-size: 0.6em;
    display: block;
  }

  input[type="password"],
  input[type="email"] {
    width: 150px;
    font-size: 15px;
  }

  img {
    width: 3em;
  }

  .form-log-end {
    display: block;
    font-size: 0.6718em;
  }
}
