body {
  background-color: #ebebeb;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

div.signup-body {
  margin: 17vh auto;
}

a.log {
  text-decoration: none;
  color: #ffa602;
  transition: 0.2s;
}

form.form-sign {
  padding: 50px 0px 0px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

input.signup-input {
  border: 1px solid #c8c8c8;
  font-size: medium;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-bottom-width: 2px;
}

input.btn {
  border: 1px solid #418ba2;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
  color: #0b1360;
  font-weight: bold;
  background-color: #219ebc;
}

p.title {
  display: flex;
  justify-content: center;
  color: #0b1360;
  margin: 0px;
  font-size: 40px;
  font-style: italic;
  font-weight: bolder;
  transition: 0.2s;
}

img[alt="signup-img"] {
  display: flex;
  margin: 100px auto 0px;
  width: 5em;
  justify-content: center;
  transition: 0.4s;
}

.btn:hover {
  background-color: #58b6cd;
  transition: 0.2s;
}
.btn:active {
  background-color: #0077b6;
}

div.recovery {
  display: flex;
  justify-content: center;
  transition: 0.4s;
}

@media (max-width: 768px) {
  p.title {
    font-size: 27px;
  }
  div.recovery p {
    font-size: 0.6em;
    display: block;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 150px;
    font-size: 15px;
  }

  img[alt="signup-img"] {
    width: 3em;
  }
}
