body {
  background-color: #d5d5d5;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
}

section {
  display: flex;
  justify-content: center;
  padding: 8%;
}

/*Texto Our Trucks*/
div.ot {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  border-radius: 10px;
  width: 50%;
  padding: 5%;
  background-color: #ededed;
  transition: 0.2s;
}

div.ot h2 {
  display: flex;
  font-style: italic;
  justify-content: center;
  text-align: center;
  color: #0b1360;
  text-shadow: 0px 0px 10px #acacac;
}

/*Imagenes Our Trucks*/
div.img-ot {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  padding: 2%;
}

div.img-ot div {
  display: flex;
  justify-content: space-around;
}

img[alt="im1"],
img[alt="im2"] {
  width: 100%;
  height: auto;
}

img[alt="im3"] {
  width: 100%;
  height: auto;
}

a {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 50%;
}

div h3 {
  display: flex;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  align-items: center;
}

div#fondo {
  height: 500px;
  background-image: url("https://i.ibb.co/NNcDf6k/camiones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}


@media (max-width: 1071px) {
  section {
    flex-direction: column;
    align-items: center;
  }

  div.ot,
  div.img-ot {
    font-size: 150%;
    width: 80%;
    margin: 30px 0px;
  }
  div.img-ot1,
  div.img-ot2 {
    flex-direction: column;
    align-items: center;
  }
  a {
    width: 80%;
  }
}
