body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div.fondo {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.ibb.co/rfKh3wL/Whats-App-Image-2021-08-13-at-10-27-04-AM-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

section {
  display: flex;
  justify-content: center;
}

div.capa {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: 8%;
}

div.tabla1,
div.tabla2 {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: solid #0b1360 4px;
  box-shadow: 20px -20px #ff7b00;
  transition: 0.2s;
  width: 25%;
  padding: 2%;
  margin: 30px 30px 70px 30px;
}

h1 {
  font-size: 3rem;
  margin: 70px auto;
  color: #0b1360;
  font-style: italic;
  text-align: center;
  transition: 0.2s;
}

h3 {
  color: #0b1360;
  text-align: center;
  transition: 0.2s;
}

a {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0px 0px 10% 0px;
}

img[alt="camion"] {
  position: absolute;
  width: 90%;
}

img[alt="full"] {
  position: relative;
  width: 52%;
  right: 12%;
  z-index: 1;
  opacity: 0%;
  transition: opacity 0.2s;
}

img[alt="mid"] {
  position: relative;
  width: 28%;
  left: 2%;
  z-index: 1;
  opacity: 0%;
  transition: opacity 0.2s;
}

div.tabla1:hover,
div.tabla2:hover {
  box-shadow: 10px -10px #ff7b00;
}

img[alt="full"]:hover {
  opacity: 100%;
}

img[alt="mid"]:hover {
  opacity: 100%;
}


@media (max-width: 1000px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  div.tabla1,
  div.tabla2 {
    width: 50%;
  }
}

@media (max-width: 550px) {
  h3,
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 2em;
  }
}
