@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    min-height: 100vh;
    flex-direction: column;
}

footer { 
    position: fixed;
    width: 100%;
    background: #707070;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
}

footer .container{
    display: flex;
    align-items: center;
    color: white;
    max-width: 974px;
    margin: 0px auto;
}

.logo {
    margin-top: 9px;
    width: 150px;
}

.container h3 {
    font-size: 30px;
    font-style: italic;
}

ul.clase  {
    list-style: none;
    flex-grow: 2;
}

.clase{
    flex-grow: 1;
}

.contact-information {
    display: flex;
    padding: 9px 0;
}

.contact-information:first-child{
    margin-top: 9px;
}

.contact-information p {
    font-size: 18px;
    margin-left: 12px;
}

.wave p {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 50px;
    font-size: 12px;
}

footer .wave {
    width: 100%;
    position: relative;
}

@media (max-width: 795px) {
    .container{
        flex-direction: column;
        max-width:100%;
    } 

    .logo{
        display: none;
    }

    .container h3 {
        margin-top: 10px;
        font-size: 25px;
    }

    .contact-information{
        padding: 3px 0;
    }

    .contact-information span{
        font-size: 16px;
    }

    .contact-information p{
        font-size: 16px;
    }
 
    .wave p {
        margin-left: 5px;
        font-size: 10px;
    }
} 

@media (max-width: 425px) {

    .container h3 {
        font-size: 20px;
    }

    .contact-information span{
        font-size: 13px;
    }

    .contact-information p{
        font-size: 13px;
    }

    .wave p {
        font-size: 8px;
    }
} 

@media (max-width: 320px) {

    .container h3 {
        font-size: 20px;
    }

    .contact-information span{
        font-size: 10px;
    }

    .contact-information p{
        font-size: 10px;
    }
 
    .wave p {
        margin-left: 5px;
        font-size: 6px;
    }
} 


