@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #D5D5D5;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image {
    margin: auto;
}

.container h1{
    text-align: center;
    font-style: italic;
    color: #023E8A;
    margin: 9px 0 9px 0;
}

.container .subtitle {
    color: #0077B7;
}

.container .information {
    display: flex;
    justify-content: center;
}

.information p {
    text-align: center;
}

.container .information .milles {
    margin-right: 200px;
}

.container .information .time {
    margin-left: 100px;
}

.container .input-text {
    text-align: center;
    margin: 9px 0 9px 0;
}

.input-text input {
    height: 27px;
    width: 100%;
    outline: none;
    border-radius: 12px;
    border: 1px solid rgba(170, 168, 168, 1);
    padding-left: 15px;
    border-bottom-width: 2px;
}

form .button {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

form .button input {
    height: 40px;
    width: 100px;
    outline: none;
    color: rgba(11, 19, 96, 1);
    font-weight: 900;
    background: #219EBC;
    border: 2px solid rgba(170, 168, 168, 1);
    border-radius: 15px;
}