@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: white;
}

header{
    position: fixed;
    top:0;
    width: 100%;
}

.logo {
    cursor: pointer;
    width: 150px;
    height: 80px;
    float: left;
    line-height: 80px;
    margin-left: 50px;
}

.navbar1 {
   display: flex;
   justify-content: right;
   background-color: rgba(11, 18, 96, 1);
}

.navbar1 ul {
    margin-right: 60px;
    padding: 10px;
    background-color: rgba(11, 18, 96, 1);
}

.navbar1 ul li{
    display: inline-flex;
    list-style: none;
    align-items: right;
    padding: 0px 20px;
    background-color: rgba(11, 18, 96, 1);
}

.navbar1 li a {
    text-decoration: none;
    color: white;
    background-color: rgba(11, 18, 96, 1);
}

.navbar1 b {
    color: rgba(255, 170, 1, 1);
    background-color: rgba(11, 18, 96, 1);
}

.navbar2 {
    padding: 9px;
    background: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.navbar2::after{
    content: "";
    clear: both;
    display: table;
}

.navbar2 ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

.navbar2 ul li {
    display: inline-block;
    margin: 0 20px;
}

.navbar2 ul li a{
    color:black;
    text-decoration: none;
    line-height: 80px;
    font-size: 18px;
    padding: 0 15px;
}

.navbar2 ul ul {
    position: absolute;
    top: 100px;
    /*border-top: 3px solid rgba(0, 0, 0, 0.09);*/
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

.navbar2 ul ul li{
    position: relative;
    margin: 0px;
    width: 170px;
    float: none;
    display: list-item;
    border-bottom: 1px solid #464646;
}

.navbar2 ul ul li:last-child{
    border-bottom: none;
}

.navbar2 ul ul li a{
    line-height: 45px;
}

.navbar2 ul ul li a:hover{
    font-style: italic;
    color: rgba(11, 18, 96, 1);
}

.navbar2 .point{
    padding: 0 50px;
    position:absolute;
    top: 30px;
    opacity: 0%;
    width: 150px;
    height: 30px;
    background: none;
}

.navbar2 .point:hover{
    margin: 0 auto;
    position:absolute;
    top: 45px;
    opacity: 100%;
    background: none;
}

.navbar2 button{
    font-size: 15px;
    font-weight: bold;
    padding: 9px 18px;
    background-color: rgba(255, 170, 1, 1);
    border: none;
    border-radius: 12px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

.navbar2 button:hover {
    background-color: rgba(255, 170, 1, 0.8);
} 

.btn-menu, .btn-submenu, input{
    display: none;
}

@media (max-width: 925px){

    .navbar1 ul{
        margin-right: 30px;
    }

    .logo{
        width: 135px;
        height: 68px;
        margin-left: 30px;
    }

    .navbar2 ul {
        margin-right: 20px;
    }

    .navbar2 ul li{
        margin: 0 5px;
    }
}

@media (max-width: 768px){

    .navbar1 ul{
        margin-right: 10px;
    }

    .navbar1 ul li{
        padding: 0px 5px;
        font-size: 15px;
    }

    .navbar2 .logo {
        margin-left: 30px;
        width: 120px;
        height: 60px;
        margin-bottom: 12px;
    }

    .navbar2 ul {
        width: 100%;
        background-color: whitesmoke;
        float: left;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .navbar2 ul li{
        background-color: whitesmoke;
        padding: 5px 0px;
    }

    .navbar2 ul li a{
        background-color: whitesmoke;
        line-height: 30px;
        font-size: 18px;
    }

    .navbar2 ul li a:hover{
        font-weight: bold;
        font-style: italic;
        color: black;
    }

    .navbar2 ul ul {
        padding: 5px 0px;
        position: static;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
    }

    .navbar2 ul ul li{
        border-bottom: none;
    }

    .navbar2 ul ul li a {
        line-height: 20px;
    }

    .navbar2 ul ul a{
        padding-left: 40px;
    }

    .navbar2 ul li, .navbar2 ul ul li{
        display: block;
        width: 100%;
    }

    .btn-menu{
        background:transparent;
        display: block;
        position: absolute;
        right: 30px;
        line-height: 80px;
        font-size: 30px;
        cursor: pointer;
    }

    .btn-submenu {
        display: block;
        font-size: 18px;
        padding: 0 15px;
        line-height: 80px;
        cursor: pointer;
    }

    label.btn-submenu {
        background-color: whitesmoke;
        line-height: 30px;
    }

    label.btn-submenu:hover{
        font-weight: bold;
        font-style: italic;
        color: black;
    }

    .btn-submenu + a, .navbar2 ul{
        display: none;
    }
    
    [id^=btn]:checked + ul{
        display: block;
    }

    .point{
        display: none;
    }
}

@media (max-width: 425px){

    .navbar1 ul{
        margin-right: 10px;
    }

    .navbar1 ul li{
        align-items: center;
        padding: 0px 5px;
        font-size: 15px;
    }
}
