@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

header{
    position: fixed;
    top:0;
    width: 100%;
}

h1 {
    font-style: italic;
    text-align: center;
    color: rgba(2, 62, 138, 1);
    font-size: 40px;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

h4 {
    color: rgba(0, 119, 183, 1);
    font-size: 20px;
    margin-bottom: 5px;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

input.input{
    width: 100%;
    border: 1px solid #c8c8c8;
    border-bottom-width: 2px;
    padding: 10px;
    font-size: 15px;
    border-radius: 12px;
}

input.btn {
    border: 1px solid #418ba2;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #0b1360;
    background-color: #219ebc;
    transition: 0.2s;
}

.btn:hover {
    background-color: #58b6cd;
}
  
.btn:active {
    background-color: #0077b6;
}

/*Navbar*/

.navbar1 {
    display: flex;
    justify-content: right;
    background-color: rgba(11, 18, 96, 1);
 }
 
 .navbar1 ul {
     margin-right: 60px;
     padding: 10px;
 }
 
 .navbar1 ul li, .navbar2 ul li{
     display: inline-block;
     padding: 0px 20px;
 }
 
 .navbar1 li a {
     color: white;
 }
 
 .navbar1 b {
     color: rgba(255, 170, 1, 1);
 }
 
 .navbar2 {
     background: white;
     box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
 }
 
 .navbar2::after{
     content: "";
     clear: both;
     display: table;
 }
 
 .navbar2 .logo {
     cursor: pointer;
     width: 135px;
     height: 80px;
     float: left;
     margin-left: 50px;
     padding: 9px 0;
 }
 
 .navbar2 ul{
     float: right;
     margin-right: 40px;
     position: relative;
 }
 
 .navbar2 ul li a{
     color:black;
     line-height: 80px;
     font-size: 18px;
     padding: 0 15px;
 }
 
 .navbar2 ul ul {
     position: absolute;
     top: 80px;
     background: white;
     /*border-top: 3px solid rgba(11, 18, 96, 1);*/
     box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
     display: none;
     transition: top .3s;
 }
 
 .navbar2 ul ul li{
     position: relative;
     padding: 0px 5px;
     width: 100%;
     float: none;
     display: list-item;
     border-bottom: 1px solid #464646;
 }
 
 .navbar2 ul li:hover .submenu{
     display: block;
 }
 
 .navbar2 ul ul li:last-child{
     border-bottom: none;
 }
 
 .navbar2 ul ul li a{
     line-height: 45px;
 }
 
 .navbar2 ul ul li a:hover{
     font-style: italic;
     color: rgba(11, 18, 96, 1);
 }
 
 .navbar2 .point{
     padding: 0 50px;
     position:absolute;
     top: 30px;
     opacity: 0%;
     width: 150px;
     height: 30px;
     background: none;
 }
 
 .navbar2 .point:hover{
     margin: 0 auto;
     position:absolute;
     top: 45px;
     opacity: 100%;
     background: none;
 }
 
 .navbar2 button{
     font-size: 15px;
     font-weight: bold;
     padding: 9px 18px;
     background-color: rgba(255, 170, 1, 1);
     border: none;
     border-radius: 12px;
     cursor: pointer; 
     transition: all 0.3s ease 0s;
 }
 
 .navbar2 button:hover {
     background-color: rgba(255, 170, 1, 0.8);
 } 
 
 .btn-menu, .btn-submenu, .checkbox{
     display: none;
 }

 /*Get a Quote*/

 .quote-container{
    display: flex;
    flex-direction: column;
    margin: 180px auto 50px auto;
    max-width: 1400px;
    background: #D5D5D5;
    padding: 25px 30px;
    border-radius: 3px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.form-quote .input{
    margin-bottom: 10px;
}

.form-quote .input-number .input{
    margin-bottom: 20px;
    width: 33%;
}

.form-quote .category {
    display: inline-flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.type-details .category label {
    display: flex;
    align-items: center;
}

.type-details .category .dot {
    height: 18px;
    width: 18px;
    background: white;
    border-radius: 50%;
    border: 5px solid transparent;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four,
#dot-5:checked ~ .category label .five,
#dot-6:checked ~ .category label .six {
    border-color: white;
    background: #219EBC;
}

.form-quote input[type="radio"]{
    display: none;
}

 /*Tracking*/

 .track-container{
    margin-top: 110px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: #D5D5D5;
    flex-direction: column;
}

.track-container .image {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-top: 9px;
}

.track-container .input-text {
    text-align: center;
    margin: 9px 0;
}

.input-text .input {
    width: 670px;
    border-radius: 12px;
    margin-top: 9px;
}

.track-container .information {
    display: flex;
    margin-bottom: 20px;
}

.track-container .information .milles {
    text-align: center;
    width: 335px;
    border-right: 3px solid #0077B7;
}

.track-container .information .time {
    text-align: center;
    width: 335px;
}

.mapa{
    margin: 0 auto;
    width: 670px;
}

/*Drivers*/

.drivers{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.ibb.co/nw0CThb/Whats-App-Image-2021-08-13-at-10-27-04-AM-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.drivers:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.5;
}

.drivers h1 {
    z-index: 1;
    text-shadow: 2px 2px 5px white;
}

.pretitle {
    color: #FFAA01;
}

.drivers .title .drivers-container {
    z-index: 1;
}

.drivers-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
}

.drivers-container .card-1, .card-2{
    margin: 50px;
    font-size: 20px;
    padding: 36px 45px;
    background: rgba(255, 255, 255, 0.924);
    width: 50%;
    text-align: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.drivers-container img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.drivers-container p {
    text-align: center;
    width: 90%;
    margin: auto;
}

/*Footer*/

footer { 
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #707070;
}

.footer-container{
    display: flex;
    align-items: center;
    color: white;
    max-width: 974px;
    margin: 0px auto;
    padding: 20px;
}

.footer-container .logo {
    margin-left: 12px;
    width: 180px;
}

ul.class  {
    list-style: none;
}

.class{
    flex-grow: 1;
}

.contact-information {
    display: flex;
    padding: 9px 0;
}

.contact-information:first-child{
    margin-top: 9px;
}

.contact-information p {
    font-size: 16px;
    margin-left: 9px;
}

.wave p {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 50px;
    font-size: 12px;
}

.wave {
    width: 100%;
    position: relative;
}
 
@media (max-width: 925px){

    /*Navbar*/
 
     .navbar1 ul{
         margin-right: 25px;
     }
 
     .navbar2 .logo{
         margin-left: 30px;
         margin-bottom: none;
     }
 
     .navbar2 ul {
         margin-right: 20px;
     }
 
     .navbar2 ul li{
         padding: 0 8px;
     }

     .form-quote .input-number .input{
        width: 32.5%;
    }
 }
 
 @media (max-width: 843px){

    /*Footer*/

    .footer-container .logo{
        width: 150px;
    }

    .contact-information p{
        font-size: 16px;
    }

    .contact-information span{
        font-size: 16px;
    }
}

 @media (max-width: 768px){

    /*Navbar*/
 
     .navbar1 ul{
         margin-right: 10px;
     }
 
     .navbar1 ul li{
         padding: 0px 5px;
         font-size: 15px;
     }
 
     .navbar2 .logo {
         margin-left: 30px;
         width: 120px;
         height: 75px;
         margin-bottom: 5px;
     }
 
     .navbar2 ul {
         width: 100%;
         background-color: whitesmoke;
         float: left;
         padding-top: 10px;
         padding-bottom: 20px;
     }
 
     .navbar2 ul li{
         background-color: whitesmoke;
         padding: 5px 0px;
     }
 
     .navbar2 ul li a{
         background-color: whitesmoke;
         line-height: 30px;
         font-size: 18px;
     }
 
     .navbar2 ul li a:hover{
         font-weight: bold;
         font-style: italic;
         color: black;
     }
 
     .navbar2 ul ul {
         padding: 5px 0px;
         position: static;
         float: none;
         display: none;
         opacity: 1;
         visibility: visible;
         box-shadow: none;
     }
 
     .navbar2 ul ul li{
         border-bottom: none;
     }
 
     .navbar2 ul ul li a {
         line-height: 20px;
     }
 
     .navbar2 ul ul a{
         padding-left: 40px;
     }
 
     .navbar2 ul li, .navbar2 ul ul li{
         display: block;
         width: 100%;
     }
 
     .btn-menu{
         background:transparent;
         display: block;
         position: absolute;
         right: 30px;
         line-height: 80px;
         font-size: 30px;
         cursor: pointer;
     }
 
     .btn-submenu {
         display: block;
         font-size: 18px;
         padding: 0 15px;
         line-height: 80px;
         cursor: pointer;
     }
 
     label.btn-submenu {
         background-color: whitesmoke;
         line-height: 30px;
     }
 
     label.btn-submenu:hover{
         font-weight: bold;
         font-style: italic;
         color: black;
     }
 
     .btn-submenu + a, .navbar2 ul{
         display: none;
     }
     
     [id^=btn]:checked + ul{
         display: block;
     }
 
     .point{
         display: none;
     }

     /*Get a Quote*/

    .quote-container{
        max-width: 100%;
    } 

    .form-quote .type-details .category {
        width: 100%;
    } 

    /*Tracking*/

    .track-container{
        width: 100%;
        position: fixed;
    }

    .track-container .image {
        width: 80px;
        height: 80px;
    }

    .track-container .information {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .input-text .input {
        width: 420px;
    }

    .track-container .information .milles {
        border-right: none;
        margin-bottom: 15px;
    }
    
    .track-container .information .time {
        margin-bottom: 15px;
    }

    .mapa{
        width: 420px;
        height: 400px;
    }

    /*Drivers*/

    .drivers-container{
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    } 

    .drivers-container .card-1, .card-2{
        width: 70%;
        margin: 0;
        margin-top: 25px;
        padding: 20px;
        font-size: 20px;
    }

    /*Footer*/

    .footer-container{
        flex-direction: column;
        max-width:100%;
        padding: 15px;
    } 

    .footer-container .logo{
        display: none;
    }

    .contact-information{
        padding: 3px 0;
    }
 
    .wave p {
        margin-left: 5px;
        font-size: 12px;
    }
 }
 
 @media (max-width: 425px){

    h1{
        font-size: 35px;
        margin-bottom: 10px;
    }

    .h3 {
        font-size: 20px;
    }

    h4{
        font-size: 18px;
        margin-bottom: 5px;
    }

    /*Navbar*/
 
     .navbar1 ul{
         margin-right: 10px;
     }
 
     .navbar1 ul li{
         align-items: center;
         padding: 0px 5px;
         font-size: 15px;
     }

     /*Get a Quote*/

    .form-quote .input-number .input{
        width: 32%;
    }

     /*Tracking*/

     .track-container .image {
        width: 70px;
        height: 70px;
    }

    .input-text .input{
        width: 100%;
    }

    .information p{
        font-size: 16px;
    }

    .track-container .information .milles {
        margin-bottom: 5px;
    }
    
    .track-container .information .time {
        margin-bottom: 10px;
    }

    .mapa{
        width: 100%;
        height: 400px;
    }

     /*Drivers*/

     .drivers-container{
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    } 

     /*Footer*/

     .contact-information span{
        font-size: 16px;
    }

    .contact-information p{
        font-size: 16px;
    }

    .wave p {
        font-size: 10px;
        margin-left: 0;
    }
 }