@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
}

.container{
    font-size: 20px;
    top: 0;
    max-width: 1400px;
    width: 100%;
    background: #D5D5D5;
    padding: 25px 30px;
    border-radius: 3px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.container h1 {
    font-style: italic;
    text-align: center;
    color: rgba(2, 62, 138, 1);
    font-size: 50px;
}

.container .subtitle {
    color: rgba(0, 119, 183, 1);
    font-size: 25px;
}

form .cargo-details .input-text {
    margin: 6px 0;
}

form .cargo-details .input-number {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.cargo-details .input-text input {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    outline: none;
    border-radius: 12px;
    border: 1px solid rgba(170, 168, 168, 1);
    padding-left: 15px;
    border-bottom-width: 2px;
}

.cargo-details .input-number input {
    
    padding: 10px;
    font-size: 20px;
    width: 30%;
    outline: none;
    border-radius: 12px;
    border: 1px solid rgba(170, 168, 168, 1);
    padding-left: 15px;
    border-bottom-width: 2px;
}

form .type-details .category {
    display: inline-flex;
    width: 40%;
    justify-content: space-between;
}

.type-details .category label {
    display: flex;
    align-items: center;
}

.type-details .category .dot {
    height: 18px;
    width: 18px;
    background: white;
    border-radius: 50%;
    border: 5px solid transparent;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four,
#dot-5:checked ~ .category label .five,
#dot-6:checked ~ .category label .six {
    border-color: white;
    background: #219EBC;
}

form input[type="radio"]{
    display: none;
}

form .button {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

form .button input {
    padding: 10px 30px;
    color: rgba(11, 19, 96, 1);
    font-weight: 900;
    background: #219EBC;
    border: 1px solid rgba(170, 168, 168, 1);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container{
        max-width: 100%;
    } 

    form .cargo-details .input-text {
        margin-bottom: 15px;
        width: 100%;
    }

    form .type-details .category-1 .category-2 {
        width: 100%;
    } 
}

