body{
    
    background-color: #d5d5d5;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif, Arial;
    margin:100px;
}
.caja-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 70px;
    margin: 10px 300px;
    border-radius: 20px;
    background-color:#e2e2e2;
    border: 1px solid #c5c5c5;

}
h1{
   
    text-transform:uppercase;     
    font-style:oblique;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color:#0b1360;   
    word-spacing: 10px;
    

}
form.form-contact{
    padding-top:30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* background-color: chartreuse; */
}
label{
    display: flex;
    align-self: flex-start;
    padding-left: 50px;
    font-size: 20px;
    color: #414141;

}

input{
    font-size: 15px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    font-size:large;
    padding: 10px;
    outline: none;
    border:1px solid #c8c8c8;
    border-bottom-width: 2px;
    padding: 10px;
    

}
input:active{
    border-color: #ffa602;
}
textarea{
    display: flex;
    border-radius: 20px;

    font-size:large;
        /* box-shadow: inset 20px 0px #209dbc; */
        outline: none;
        border:1px solid #c8c8c8;
        border-bottom-width: 2px;
        padding: 10px 30px;
}
textarea:active{
    border-color: #ffa602;
}
.btn{
    display: flex;
    color: #0b1360;
    background-color: #209dbc;
    font-weight: bold;
    padding: 20px 50px;
    border-color: #419ba2;
    align-self: center;
    transition: 0.2s;
}
.btn:hover{
    background-color: #58b6cd;

}
.btn:active{
    background-color: #0077b6;
}
.casilla{
    display: flex;
    width: 90%;
    /* box-shadow: inset 20px 0px #209dbc; */
}

#mensaje{
    display: flex;
    padding: 100px 0px;
   
}

/*-------Diseño Responsive-----*/
@media (max-width: 425px) {
    body{
        display: flex;
        flex-direction: column;
        margin: 50px 20px;
    }
    .main-contact {
      font-size: 20px;
    }
  
    input[type="text"],
    input[type="email"],
    textarea[type="text"]{
      font-size: 15px;
    }

    .caja-main{
        align-items: center;
        padding:20px 0px;
        margin: 0px;
    }
    label{
        padding-left: 10px;
        font-size: 15px;
    }
    .btn{
        padding: 10px 30px;
    }

  }